## TF-IDF

In [1]:
import pandas as pd
from math import log

In [27]:
docs = [
        'drink cold milk',
        'drink cold water',
        'drink cold cola',
        'drink sweet juice',
        'drink sweet cola',
        'eat delicious bacon',
        'eat sweet mango',
        'eat delicious cherry',
        'eat sweet apple',
        'juice with sugar',
        'cola with sugar',
        'mango is fruit',
        'apple is fruit',
        'cherry is fruit',
        'Berlin is Germany',
        'Boston is USA',
        'Mercedes from Germany',
        'Mercedes is car',
        'Ford from USA',
        'Ford is car'
    ]

In [32]:
vocab = list(set(w for doc in docs for w in doc.split())) # vocabulary
vocab.sort()

In [33]:
N = len(docs)

def tf(t,d):
    return d.count(t)

def idf(t):
    df = 0
    for doc in docs:
        df += t in doc
    return log(N/(df + 1))

def tfidf(t,d):
    return tf(t,d) * idf(t)

In [46]:
## tf dataframe
result = []
for i, d in enumerate(docs):
    result.append([])
    for j, t in enumerate(vocab):
        result[-1].append(tf(t, d))
        
tf_ = pd.DataFrame(result, columns = vocab)
tf_.head()

,Berlin,Boston,Ford,Germany,Mercedes,USA,apple,bacon,car,cherry,...,from,fruit,is,juice,mango,milk,sugar,sweet,water,with
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [47]:
## idf dataframe
result = []
for j in range(len(vocab)):
    t = vocab[j]
    result.append(idf(t))
    
idf_ = pd.DataFrame(result, index = vocab, columns = ["IDF"])
idf_

                IDF
Berlin     2.302585
Boston     2.302585
Ford       1.897120
Germany    1.897120
Mercedes   1.897120
USA        1.897120
apple      1.897120
bacon      2.302585
car        1.897120
cherry     1.897120
cola       1.609438
cold       1.609438
delicious  1.897120
drink      1.203973
eat        1.386294
from       1.897120
fruit      1.609438
is         0.916291
juice      1.897120
mango      1.897120
milk       2.302585
sugar      1.897120
sweet      1.386294
water      2.302585
with       1.897120

In [49]:
result = []
for i, d in enumerate(docs):
    result.append([])
    for j, t in enumerate(vocab):
        result[-1].append(tfidf(t,d))

tfidf_ = pd.DataFrame(result, columns = vocab)
tfidf_.head(5)

,Berlin,Boston,Ford,Germany,Mercedes,USA,apple,bacon,car,cherry,...,from,fruit,is,juice,mango,milk,sugar,sweet,water,with
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,2.302585,0.0,0.000000,0.000000,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,2.302585,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.000000,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.89712,0.0,0.000000,0.0,1.386294,0.000000,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00000,0.0,0.000000,0.0,1.386294,0.000000,0.0